In [2]:
import pandas as pd
import numpy as np
from os import remove
import os
import streamlit

In [3]:
recomendacion=pd.read_csv("Recomendacion.csv",sep=",",index_col=0)

In [5]:
titulos=recomendacion["title"]

In [10]:
tituloss=recomendacion.apply(lambda  i: i["title"],axis=1)
type(tituloss)

pandas.core.series.Series

In [32]:
reco=recomendacion.copy()

In [86]:
recomendacion=pd.read_csv("Recomendacion.csv",sep=",",index_col=0)
reco=recomendacion.copy()
tituloUno=[]
tituloDos=""
grupo=""

if len(tituloUno)!=0:
    titUno='|'.join(tituloUno)
    reco[reco["title"].str.contains(titUno, case=False, na=True, regex=True)]



    categoria=list(reco["listed_in"][reco["title"]==tituloDos])
    cat='|'.join(categoria)
    reco[["movieId","title"]][(reco["listed_in"].str.contains(cat, case=False, na=True, regex=True)) &
                                                (reco["ratings"]>200) &
                                                (reco["Prome_Raitings"]>4)]
else:
    print("TOP de las 10 peliculas mejor calificadas")
    print(reco[reco["ratings"]>240].sort_values(by="Prome_Raitings",ascending=False).head(10))

TOP de las 10 peliculas mejor calificadas
   movieId                                 title  \
0   ns5176                         lady dynamite
2    ds635              america's national parks
3   ns6265                    beauty & the beast
4   as5312                              vivarium
5    ds868                  dr. t, lone star vet
6    ns413  chhota bheem and the incan adventure
7   as5151                                m.f.a.
1   as1897         le mans: racing is everything
26  ds1175                        saludos amigos
22   ns954                       the whole truth

                                       listed_in  ratings  Prome_Raitings
0                                    tv comedies      251            4.48
2                   animals & nature, docuseries      245            4.47
3   crime tv shows, romantic tv shows, tv dramas      247            4.47
4             fantasy, science fiction, suspense      271            4.47
5                    docuseries, family, medical      257            4.47
6                       children & family movies      247            4.47
7                        drama, horror, suspense      247            4.47
1                            documentary, sports      248            4.47
26                     animation, comedy, family      255            4.46
22                             dramas, thrillers      247            4.46

In [74]:
reco[reco["movieId"]=="ns5176"]

  movieId          title    listed_in  ratings  Prome_Raitings
0  ns5176  lady dynamite  tv comedies      251            4.48

In [72]:
cat='|'.join(categoria)
reco[["movieId","title"]][(reco["listed_in"].str.contains(cat, case=False, na=True, regex=True)) &
                                            (reco["ratings"]>200) &
                                            (reco["Prome_Raitings"]>4)]

      movieId                          title
0      ns5176                  lady dynamite
1      as1897  le mans: racing is everything
2       ds635       america's national parks
3      ns6265             beauty & the beast
4      as5312                       vivarium
...       ...                            ...
10918  ns4673           cathedral of the sea
10919  as8336                      casino.sk
10920   ds180             when sharks attack
10921  ds1264              the cheetah girls
10922   ds163                 turner & hooch

[10923 rows x 2 columns]

In [5]:
titulo="star wars"
idpelicula="as56"

if titulo:
   res=reco["listed_in"][reco["title"]==titulo]
   res=reco[reco["title"].str.contains("star wars", case=False, na=True, regex=True)]

res=reco[reco["title"].str.contains("star wars", case=False, na=True, regex=True)]

,Unnamed: 0,title,listed_in,ratings,Prome_Raitings
767,767,star wars: the force awakens (episode vii),"action-adventure, science fiction",257,4.42
1384,1384,solo: a star wars story (spanish version),"action & adventure, children & family movies, ...",249,4.41
3897,3897,star wars: a new hope (episode iv),"action-adventure, science fiction",266,4.39
4445,4445,star wars: attack of the clones (episode ii),"action-adventure, science fiction",254,4.38
4472,4472,star wars biomes,science fiction,258,4.38
4474,4474,lego star wars holiday special,"action-adventure, animation, comedy",255,4.38
4499,4499,lego star wars: the new yoda chronicles - clas...,"action-adventure, animation, comedy",263,4.38
4617,4617,solo: a star wars story,"action-adventure, crime, science fiction",260,4.38
6211,6211,disney gallery / star wars: the mandalorian,"action-adventure, docuseries, family",243,4.37
6243,6243,star wars rebels,"action-adventure, animation, kids",261,4.37
6245,6245,star wars: blips,series,250,4.37
6246,6246,star wars: episode viii: the last jedi,"action & adventure, children & family movies, ...",266,4.37
6247,6247,star wars: ewoks,"action-adventure, animation, fantasy",257,4.37
7109,7109,lego star wars: the new yoda chronicles â€“ esca...,"action-adventure, animation, comedy",247,4.37
8485,8485,lego star wars: the freemaker adventures (shorts),"action-adventure, animation, comedy",248,4.36
9538,9538,star wars vintage: story of the faithful wookiee,animation,242,4.35

In [121]:
def modelo_Recomendacion(titul:str):
    
    reco=recomendacion.copy()
    tituloUno=[titul]
    tituloDos=""
    grupo=""

    if len(tituloUno)!=0:
        titUno='|'.join(tituloUno)
        return reco[reco["title"].str.contains(titUno, case=False, na=True, regex=True)]

def modelo_RecomendacionDos(movid:str):
         
        tituloDos=movid
        categoria=list(reco["listed_in"][reco["title"]==tituloDos])
        cat='|'.join(categoria)
        a=reco[["movieId","title","Prome_Raitings"]][(reco["listed_in"].str.contains(cat, case=False, na=True, regex=True)) &
                                                    (reco["ratings"]>200) &
                                                    (reco["Prome_Raitings"]>4)]
        return a[a["movieId"]!=movid]

        # #print("TOP de las 10 peliculas mejor calificadas")
        #return a[(a["ratings"]>240) & a["movieId"]!=movid].sort_values(by="Prome_Raitings",ascending=False).head(10)

In [122]:
a=modelo_RecomendacionDos("star")
a

      movieId                                 title  Prome_Raitings
85     as8862           love story of court enemies            4.45
99     as8680                                  meat            4.44
173    as6416               tokyo wine party people            4.44
227    as6901                         tale of tarot            4.43
229    as4949                             dream boy            4.43
...       ...                                   ...             ...
10842  as5276                          kabhi kabhie            4.31
10862  hs1288  what to expect when you're expecting            4.31
10885  as1270                          prema pipasi            4.30
10892  as5663              brittany runs a marathon            4.30
10901   hs717                              tru love            4.30

[418 rows x 3 columns]

In [120]:
a=modelo_Recomendacion("star")
a

,movieId,title,listed_in,ratings,Prome_Raitings
5,ds868,"dr. t, lone star vet","docuseries, family, medical",257,4.47
48,ns832,the least expected day: inside the movistar te...,"docuseries, international tv shows, spanish-la...",267,4.45
67,ns958,pet stars,reality tv,241,4.45
157,hs1772,the bastard executioner,"action, adventure, drama",250,4.44
176,hs1015,9-1-1: lone star,drama,256,4.44
...,...,...,...,...,...
10057,as245,twinkle twinkle little star & more classic nur...,kids,248,4.34
10447,ns1884,starbeam: halloween hero,children & family movies,262,4.33
10545,ns5246,star trek: voyager,"tv action & adventure, tv sci-fi & fantasy",281,4.33
10577,as906,star trek: voyager,"drama, science fiction, special interest",255,4.33
10667,as3443,99 days with the superstar,"comedy, romance",242,4.32